---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.jpg"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={"info.about"} />

      <section>
        <h2 class="text-center dark:text-light mt-16">COMPÉTENCES</h2>

        <h3
          class="text-lg p-5 text-center grid md:grid-cols-5 sm:grid-cols-3 grid-cols-2 gap-8 my-16 dark:text-light mt-6"
        >
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Web/HTML">HTML5</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
            ><a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Web/CSS">CSS3</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Flexbox"
              >FLEXBOX</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Grids"
            >
              GRID</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://sass-lang.com/">SASS</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Web/Accessibility/ARIA"
              >ARIA</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://developer.mozilla.org/fr/docs/Web/JavaScript"
              >JAVASCRIPT</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a class="dark:text-light" target="_blank" href="https://react.dev/"
              >REACT</a
            >
          </span>

          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://react-redux.js.org/">REDUX</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://jestjs.io/fr/">JEST</a
            >
          </span>

          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://recharts.org/en-US/">RECHARTS</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://swagger.io/">SWAGGER</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://git-scm.com/">GIT</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://github.com/">GITHUB</a
            >
          </span>
          <span
            class="text-center decoration-clone bg-gradient-to-b from-slate-400 to--500"
          >
            <a
              class="dark:text-light"
              target="_blank"
              href="https://www.figma.com/fr/">FIGMA</a
            >
          </span>
        </h3>
        <hr class="text-stone-900 dark:text-light mx-auto w-2/3" />
        <h2 class="text-center dark:text-light mt-16">PROJETS</h2>

        <ProjectsWrapper projects={featureProjects} />
        <div class="flex flex-row-reverse mb-8">
          <button
            type="button"
            class="text-gray-900 bg-gradient-to-b from-slate-400 to--500 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 w-50"
            ><a href="/projects">
              <span class="flex flex-row gap-2"
                >Voir tous les projets<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-activity"
                  ><line x1="4" y1="12" x2="20" y2="12"></line><polyline
                    points="14 6 20 12 14 18"></polyline></svg
                >
              </span>
            </a>
          </button>
        </div>
      </section>
    </Layout>
  </body>
</html>
